.App{
  background-image: linear-gradient(to right, #76b6f5, #197ee4);
  min-height: 100vh;
  display: flex;
}

.App__container{
  background-color: #ffffff;
  width: 90%;
  margin: 50px auto;
  border-radius: 15px;
}

.App__header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 50px;
}
.App__header__cont{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.app__dropdown{
  width: 90px;
}

.App__main{
  margin: 50px;
}

@media (max-width: 650px){
  .App__main{
    margin: 20px;
  }
  .App__header{
    margin: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .App__header__cont{
    justify-content: space-between;
  }
}