
.subjectField__subject{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
}

.subjectField__subject__box{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}
.subjectField__subject__boxL{
    display: grid;
    grid-template-columns: 1fr 1.5fr 2.5fr;
    gap: 10px;
}
.subjectField__subject__lab{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 10px;
}

@media (max-width: 768px){
    .subjectField__subject__box{
        grid-template-columns: 1.5fr 4fr;
    }
    .subjectField__subject__boxL{
        grid-template-columns: 1.5fr 4fr;
    }
    .subjectField__subject__lab{
        grid-template-columns: 1.5fr 4fr;
        grid-column: auto / span 2;
    }
}
@media (max-width: 500px){
    .subjectField__subject{
        grid-template-columns: 1fr;
        gap: 10px;
    }
}